body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

header img{
  height: 50px;
  padding-left: 10px;
}

header {
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: black;
  align-items: center;
}
.flex-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}



nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

#mission {
  margin: auto;
  width: 1200px;
  height: 700px;
  background-image: url(../images/img-mission-background.jpg);

}

#mission .content {
  background-color: black;
  color: white;
  margin: auto;
  width: 1200px;
}



#featuredtea {
  width: 1000px;
  margin: auto;
}

div.tea img {
  height: 200px;
  margin: 10px;
}

#locations {
  margin: auto;
  width: 1200px;
  padding-top: 70px;
  height: 500px;
  background-image: url(../images/img-locations-background.jpg);
}

.location {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 300px;
  height: 300px;
  opacity: 1.0;
  margin: 15px 40px;
}


#locations .flex-box {
  align-content: center;
  width: 1200px;
  flex-wrap: nowrap;
  align-items: baseline;
  margin: auto;
}


.contact {
  height: 200px;
}

footer {
  text-align: left;
  padding-left: 20px;
}
